include variables.pug

block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		title Сайт | #{pageTitle}
		link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
		link(rel="stylesheet" href="css/slick-slider.css")
		link(rel="stylesheet" href="css/fancybox.css")
		link(rel="stylesheet" href="css/main.css")
	body(class=(bodyClass?bodyClass:'not-front'))
		
		include header

		block content

		include footer


		script(src="js/library-jquery.js")
		script(src="js/slick-slider.js")
		script(src="js/fancybox.js")
		script(src="js/mask-tel.js")
		script(src="js/main.js")
	