-
	var menu = [
		{
			'text': 'Главная',
			'link': ''
		},
		{
			'text': 'О компании',
			'link': '',
			"submenu": [
				{
					"text":"Пункт 1",
					"link": "",
				},
				{
					"text":"Пункт 2",
					"link": "",
				},
			],
		},
	]