extends ../layout/main

block append variables
	- var pageTitle = "О компании";
	//- var prevPage = {href: '', text: ''};
	//- var pageTitle_OFF = true;

block content

	include ../blocks/breadcrumbs


	